body{
    align-items:center;
    justify-content:center;
}

.calendar ul{
    display:flex;
    list-style-type:none;
}

.weeks li{
    width:12%;
    text-align:center;
    display:inline-block;
}

.days li {
    width: 12%;
    text-align: center;
    display: inline-block;
}